form {
  font-family: sans-serif;
  padding-left: 10%;
  padding-right: 10%;
}

fieldset {
  width: 100%;
}

select {
  width: 100%;
}

input[type="text"] {
  width: 100%;
}

input[type="file"] {
  width: 100%;
}

label {
}

legend {
  color: #000070;
}

.help {
  font-size: 80%;
}

.help code {
  font-size: 120%;
}

.formfield {
  padding-bottom: 1em;
}
