body {
  font-family: sans-serif;
  background-color: #eeeeff;
}

div.nav {
  float: left;
  width: 100px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #ffaa00;
}

div.nav div.navlink {
  padding: 10px;
}

div.container {
  float: left;
  width: 800px;
  /*
	position: absolute;
	left: 50%;
	margin-left: -500px;
	width: 1000px;*/
}

h1 {
}

fieldset {
}

legend {
  color: #000070;
}

.formfield {
  padding-bottom: 1em;
}

.formfield label {
  font-weight: bold;
}

select {
  width: 100%;
}

input[type="text"] {
  width: 100%;
}

input[type="file"] {
  width: 100%;
}

div.help {
  font-size: 80%;
}

div.help code {
  font-size: 120%;
}
